<div class="item">
  <input name="{{parentType}}[{{attrName}}][{{index}}][person_id]" type="hidden" value="{{id}}">
  <input class="js-position" name="{{parentType}}[{{attrName}}][{{index}}][position]" type="hidden">
  <img class="ui avatar image" src="{{avatarUrl}}">
  <div class="content">
    <div class="header">{{name}} {{handle}}</div>
  </div>

  <div class="right floated content">
    {{#if parentIsPodcast}}
    <div class="ui tiny icon positive button js-retire">
      <i class="microphone icon"></i>
    </div>
    {{/if}}
    <div class="ui tiny icon button js-remove">
      <i class="remove icon"></i>
    </div>
  </div>
</div>
