<div class="item">
  <input name="{{parentType}}[{{attrName}}][{{index}}][topic_id]" type="hidden" value="{{id}}">
  <input class="js-position" name="{{parentType}}[{{attrName}}][{{index}}][position]" type="hidden">
  <div class="content">
    <a class="ui label">
      {{name}}
      <span class="js-remove">
        <i class="delete icon"></i>
      </span>
    </a>
  </div>
</div>
