<div class="item">
  <input name="{{parentType}}[{{parentType}}_{{relationType}}][{{index}}][topic_id]" type="hidden" value="{{id}}">
  <input class="js-position" name="{{parentType}}[{{parentType}}_{{relationType}}][{{index}}][position]" type="hidden">
  <div class="content">
    <a class="ui label">
      {{name}}
      <i class="delete icon js-remove"></i>
    </a>
  </div>
</div>
