<div class="item">
  <input name="podcast[podcast_hosts][{{index}}][person_id]" type="hidden" value="{{id}}">
  <input class="js-position" name="podcast[podcast_hosts][{{index}}][position]" type="hidden">
  <img class="ui avatar image" src="{{avatar_url}}">
  <div class="content">
    <div class="header">{{name}} {{handle}}</div>
  </div>

  <div class="right floated content">
    <div class="ui tiny icon button js-remove"><i class="remove icon"></i></div>
  </div>
</div>
